<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Sharepedia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" >
          
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
           
                <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/wikis">Wikis</a>
          </li>
          <li>
           <!--<a class="nav-link" href="http://localhost:3000/about" >About Us</a>-->   
          </li>
          
          
            <% if(locals.currentUser) { %>
              <% if(!locals.currentUser.isPrem()) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/users/charge">Upgrade Plan</a>
                </li>
              <% } else { %>
                <li class="nav-item">
                  <div>
                  <form id="alert" class="nav-link" action="/users/downGrade" method="GET">
                    <label>Downgrade Plan</label> 
                  </form>
                  <script>
                      const form = document.getElementById("alert");
                      form.addEventListener("click", e => {
                        e.preventDefault();
                        if(window.confirm("You sure? All your private stuff will become public!")) {
                          form.submit();
                        }
                      });
                    </script>
                    </div>
                </li>
              <% } %>
            <li class="nav-item">
              <a class="nav-link" href="/users/signout">Sign out</a>
            </li>
            <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/users/signup">Sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/signin">Sign in</a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>

    
  
  </nav>