<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    
    <main class="container">
      <hr>
      <h1>New Wiki</h1>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Wiki title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea id="pad" rows="10" class="form-control" name="body" placeholder="Enter Body"></textarea>
        </div>
        <% if(locals.currentUser && locals.currentUser.isPrem()) { %>
          <div>
            <label for="private">Make Wiki Private</label>
           <input id="checked" type="checkbox" name="private">
          </div>
        <% } %> 
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      <hr>
      <h3>Preview Markdown Body</h3>
      <div id="markdown" class="bg-light"></div>
      
    </main>

    <% include ../static/partials/baseScripts.ejs %>
    <script>
      window.onload = function() {
        const converter = new showdown.Converter();
        const pad = document.getElementById('pad');
        const markdownArea = document.getElementById('markdown');   

        const convertTextAreaToMarkdown = function(){
          const markdownText = pad.value;
          const html = converter.makeHtml(markdownText);
          markdownArea.innerHTML = html;
        };

        pad.addEventListener('input', convertTextAreaToMarkdown);

        convertTextAreaToMarkdown();
      };
    </script>
    <% include ../static/partials/footer.ejs %>
  </body>
</html>